
  form {
    width: 700px;
    padding: 2%;
    color: #fff;
    background-color: rgb(183, 41, 86);
    box-shadow: 5px 5px 10px rgb(82, 82, 82);
  }
  

  
  input {
    width: 100%;
    padding: 7px;
    border: 0;
    outline: 0;
 
  }
  

  
button {
    margin-top: 20px;
  padding: 10px 20px;
  border: 0;
  color: rgb(10, 7, 8);
  cursor: pointer;
} 